<html>
<head>
    <style>
        .center {
            margin: auto;
            width: 60%;
            border: 3px solid #73AD21;
            padding: 10px;
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.95/Bacon.min.js">
    </script>
    <script src="//player.ooyala.com/static/v4/production/latest/core.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.js"></script>
    <link rel="stylesheet" href="//player.ooyala.com/static/v4/production/latest/skin-plugin/html5-skin.min.css"/>
    <script src="//player.ooyala.com/static/v4/production/latest/video-plugin/main_html5.min.js"></script>
    <script src="//player.ooyala.com/static/v4/production/latest/video-plugin/bit_wrapper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
</head>
<body>

<div id="container" style="margin:0 auto;width:490px; height:auto"></div>
<!--<div>-->
<!--<textarea id="sherlock" rows="30" cols="100" style="margin:0 auto">-->
<!--</textarea>-->
<!--</div>-->

<script type="text/javascript">
  function onCreate(player) {
    console.log('subscribing to all events');
      /*
       * Subscribe to all events:
       * this allows you to create logic
       * based on multiple events.
       */
    player.mb.subscribe("*", 'all-events', function (eventName) {
      if (eventName != OO.EVENTS.DOWNLOADING &&
        eventName != OO.EVENTS.PLAYHEAD_TIME_CHANGED)
        console.log(eventName);
      console.log('player state - ' + player.getState());
    });
    player.mb.subscribe(OO.EVENTS.PLAYHEAD_TIME_CHANGED, 'OO.EVENTS.PLAYHEAD_TIME_CHANGED', function (eventName, info) {
      console.log("OO.EVENTS.PLAYHEAD_TIME_CHANGED " + player.getState());
      console.log("eventname ", eventName, " -", info);
    });
    player.mb.subscribe(OO.EVENTS.VC_VIDEO_ELEMENT_LOST_FOCUS, 'lost-focus-event', function (eventName, url, vid) {
      console.log("palyer state  lost-focus-event " + player.getState());
      console.log("eventname " + eventName + " url " + url + " vid " + vid);
    });
  }

  OO.ready(function () {
    var playerParam = {
      //Find this under Account - Developers in Backlot
      "pcode": "IycGoyOgSy6HP-yx47T66NFFtXdn",
      //BACKLOT PLAYER ID
      "playerBrandingId": "8fffc0703e764161bdf0008b7789d61e",
      "showInAdControlBar": false,
      // "autoplay":true,
      "skin": {
        "config": "http://player.ooyala.com/static/v4/production/latest/skin-plugin/skin.json" //"prod_latest.skin.json" //no error but ad is not displaying.
//        "config": "https://raw.githubusercontent.com/PlaybackWebTest/JsonFiles/PlayerSkin/stickytest.json" //"prod_latest.skin.json" //no error but ad is not displaying.

      },
      onCreate: window.onCreate,
      debug: true,
      // "videoplaza-ads-manager": {
      //   pulse_host: "http://vp-validation.videoplaza.tv", //REPLACE WITH OWN HOST
      //   pulse_tags: "standard,tag2", //REPLACE WITH DESIRED TAGS OR REMOVE IF NOT NEEDED
      //   pulse_category: "validation" //REPLACE WITH A CATEGORY ID OR CATEGORY ALIAS
      // },
      "enableDebugTools": {
        "startDebugStateMachine": "all",
      },
      // "showInAdControlBar":true,
      // "showLinearAdSkipButton":true,
      // "linearAdSkipButtonStartTime":1
      "embedToken": "//player.ooyala.com/sas/embed_token/IycGoyOgSy6HP-yx47T66NFFtXdn/pxZnhtYjE6QtDxaRxY624rgqJP-kc0l7?api_key=IycGoyOgSy6HP-yx47T66NFFtXdn.V_Yu7&expires=1506815027&signature=amvZnV7tjV7ZtOMOGsvIaZU8LsqScghJePp7vDnrUmA&override_syndication_group=override_synd_groups_in_backlot"
    };

    //DIV ID, BACKLOT CONTENT ID, PLAYER PARAMETERS
    resetFeed();
    window.pp = OO.Player.create('container', "I0anFwYjE6rEHjyW7q8BreRqOhBGXObr", playerParam);//cc supported embed code pxZnhtYjE6QtDxaRxY624rgqJP-kc0l7 with blue color setting in backlot

    window.intialBoundary = document.getElementById('container').getBoundingClientRect();
    // console.log("initialBoundary - ", initialBoundary);

  });
  console.log("bacon");

  //Below commented code is to catch the distraction events on player boundary
  //  var signsOfLife = Bacon.mergeAll(
  //    $('#container').asEventStream('focus'),
  //    $('#container').asEventStream('click'),
  //    $('#container').asEventStream('scroll'),
  //    $('#container').asEventStream('mousemove'),
  //    $('#container').asEventStream('touchstart'),
  //    $('#container').asEventStream('touchend'),
  //    $('#container').asEventStream('touchcancel'),
  //    $('#container').asEventStream('touchleave'),
  //    $('#container').asEventStream('touchmove')
  //  );
  //  var TIMEOUT = 5000;
  //  console.log("signsOfLife ", signsOfLife);
  //  function decayingStream() {
  //    // if(window.recentlyActive)
  //    // 	console.log("window.recentlyActive ",window.recentlyActive);
  //    // console.log("decay");
  //    return Bacon.once(true).merge(Bacon.once(false).delay(TIMEOUT));
  //  }
  //  window.recentlyActive = signsOfLife
  //    .flatMapLatest(decayingStream)
  //    .toProperty(true);
  //  signsOfLife.onValue(function (val) {
  //    var events = "Event: " + val.type + ", Target Element: " + val.target.getAttribute('class') + ", Player State: " + pp.getState() + " \n";
  //    $('#sherlock').val($('#sherlock').val() + events);
  //    window.eval = val;
  //    // console.log("sign changes:",val);
  //  });

//Distraction at window level
  {
    var intervalID = window.setInterval(feedTimer, 1000);
    window.mouselist = [];
    window.mousecount = 0;
    window.seconds = [];
    window.second = 1;
    var ctx = document.getElementById("distraction");

    function feedTimer() {
      // Your code here
      if (window.pp && pp.getState() === "playing") {
        sendFeed();
        window.mousecount = 0;
        window.second++;
      }
    }

    function resetFeed() {
      $.post("http://localhost:3000/feeds/reset",
        {
          count: window.mousecount,
          seconds: window.second
        },
        function (data, status) {
          console.log("Data: " + data + "\nStatus: " + status);
        });
    }

    function sendFeed() {
      $.post("http://localhost:3000/feeds",
        {
          count: window.mousecount,
          second: parseInt(pp.getPlayheadTime()) //window.second
        },
        function (data, status) {
          console.log("Data: " + data + "\nStatus: " + status);
        });
    }

    var signsOfWindowLife = Bacon.mergeAll(
      $(window).asEventStream('focus'),
      $(window).asEventStream('click'),
      $(window).asEventStream('scroll'),
      $(window).asEventStream('mousemove'),
      $(window).asEventStream('touchstart'),
      $(window).asEventStream('touchend'),
      $(window).asEventStream('touchcancel'),
      $(window).asEventStream('touchleave'),
      $(window).asEventStream('touchmove')
    );
    var TIMEOUT = 5000;
    console.log("signsOfLife ", signsOfWindowLife);
//    function decayingStream2() {
//       return Bacon.once(true).merge(Bacon.once(false).delay(TIMEOUT));
//    }
//
//    window.recentlyActive2 = signsOfWindowLife
//      .flatMapLatest(decayingStream2)
//      .toProperty(true);
    signsOfWindowLife.onValue(function (val) {
      window.mousecount = window.mousecount + 1;
    });
  }

  //Below part is to execute the below feature when tab switching happens
  // If the page is hidden, pause the video;
  // if the page is shown, play the video
  console.log("page visibility api");
  // Set the name of the hidden property and the change event for visibility
  var hidden, visibilityChange;
  if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support
    hidden = "hidden";
    visibilityChange = "visibilitychange";
  } else if (typeof document.msHidden !== "undefined") {
    hidden = "msHidden";
    visibilityChange = "msvisibilitychange";
  } else if (typeof document.webkitHidden !== "undefined") {
    hidden = "webkitHidden";
    visibilityChange = "webkitvisibilitychange";
  }
  function handleVisibilityChange() {
    if (document[hidden] /*&& pp.getState() === "playing"*/) {
      pp.pause();
    } else {
//      if (pp.getState() === "paused") {
        pp.play();
//      }
    }
  }

  // Warn if the browser doesn't support addEventListener or the Page Visibility API
  if (typeof document.addEventListener === "undefined" || typeof document[hidden] === "undefined") {
    console.log("This demo requires a browser, such as Google Chrome or Firefox, that supports the Page Visibility API.");
  } else {
    // Handle page visibility change
    document.addEventListener(visibilityChange, handleVisibilityChange, false);
  }

</script>


</body>
</html>