<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sherlock report</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>

</head>
<body>
<h1>Report</h1>

<br>
<button onclick="getFeeds()">GetFeed</button>
<button onclick="drawchart()">Draw Chart</button>
<br>

<div>
    <br>
    <div id="attentiveness"></div>
    <br>
    <canvas id="distraction"></canvas>
</div>
<script>
  window.distractions = [];
  window.seconds = [];
  window.maxSecond = 1;
  window.setInterval(autoRefresh, 5000);
  function autoRefresh() {
    getFeeds();
    drawchart();
  }
  var ctx = document.getElementById("distraction");
  function getFeeds() {
    $.get("http://localhost:3000/feeds", function (data, status) {
      console.log("Data: ", data);
//      data = JSON.parse(data);
      window.seconds = data.seconds;
      window.distractions = data.distractions;
      window.maxSecond = data.maxSecond;
    });
  }
  function drawchart() {
    console.log("draw");
    let sortedSeconds = window.seconds.slice();
    let sortedDistractions = window.distractions.slice();
    bubbleSort(sortedSeconds,sortedDistractions);
    console.log("sortedSeconds -", sortedSeconds);
    console.log("sortedDistractions -", sortedDistractions);
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: sortedSeconds,//window.seconds,
        datasets: [{
          data: sortedDistractions,//window.distractions,
          label: "distraction per second",
          borderColor: "#3e95cd",
          fill: true,
          backgroundColor:"red"
        }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Representation of the user attentiveness on the video asset'
        }
      }
    });
    if(window.distractions.length>0){
      let sum = window.distractions.reduce((previous, current) => current += previous);
      console.log("sum ",sum);
      let avg = sum / window.maxSecond; //window.distractions.length;
      console.log("avg ",avg);
      let percent = 100 - avg;
      $("div#attentiveness").text("User Attentiveness = " + percent + "%");
    }
    else
      $("div#attentiveness").text("User Attentiveness = " + 0 + "%");
  }
  // swap function helper
  function swap(array, i, j) {
    var temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
  function bubbleSort(array1,array2) {
    console.log("array1 = ",array1);
    console.log("array2 = ",array2);
    var swapped;
    do {
      swapped = false;
      for(var i = 0; i < array1.length; i++) {
        if(array1[i] && array1[i + 1] && array1[i] > array1[i + 1]) {
          swap(array1, i, i + 1);
          swap(array2, i, i + 1);
          swapped = true;
        }
      }
    } while(swapped);
    return array1;
  }

</script>
</body>
</html>